#!/bin/bash

################################
# Docker Container Default Info
###############################

BUILD_DOCKER_REF_NAME="dlbuilder"
BUILD_DOCKER_CONTAINER_NAME="dlbuilderContainer"
BUILD_DOCKER_VERSION="001"
BUILD_DOCKER_SSH_PORT=512
BUILD_DOCKER_IPYTHON_PORT=8888
BUILD_DOCKER_TENSORBOARD_PORT=6006

#################
# BUILD SETUP
#################

UPSTREAM_DIR="./upstream-files"

##############
# NVIDIA TOOLS
##############

HOST_NVIDIA_DRIVER_VER="nvidia-352"

CUDA_VERSION="9.1"
CUDA_DEB_PACK="cuda-repo-ubuntu1604-9-1-local_9.1.85-1_amd64"
CUDA_DEB_URL="https://developer.nvidia.com/compute/cuda/9.1/Prod/local_installers/${CUDA_DEB_PACK}"
